body{
    background-color: antiquewhite;
    padding: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content
{
    font-family: cursive;
    border: 1px;
}
.header
{
    background-color: burlywood;
   
}
ul{
    display: inline;
    list-style-type: none;
}
li{
    display: inline;
    padding: 5%;
}